<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # تحويل كافة الطلبات إلى مجلد public ليعمل Laravel و React معاً
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
