Options +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # لا تقم بأي تحويل إذا كان الرابط يبدأ بـ storage
  RewriteCond %{REQUEST_URI} ^/storage/ [NC]
  RewriteRule . - [L]

  # روابط React الاعتيادية (SPA Routing)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
